* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.container {
    position: relative;
}

#slider {
    min-height: 90vh;
    border: solid thin #dedede;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    padding: 3em 5em 6em 3em;
}

.preview {
    position: fixed !important;
    margin-left: calc(100% - 97%);
    margin-top: calc(100vh - 50vh);
}

.next {
    position: fixed !important;
    margin-left: calc(100% - 3%);
    margin-top: calc(100vh - 50vh);
}

.next i, .preview i {
    font-size: 2em;
}